<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>WatchVista - ForgotPassword</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #fff;
      }

      .signup-container {
        max-width: 500px;
        width: 100%;
        padding: 1px;
      }

      .logo {
        max-width: 100px;
        margin-bottom: 20px;
      }

      .form-control {
        border: 2px solid #ced4da;
        border-radius: 5px;
        height: 46px;
      }

      .btn-primary {
        background-color: #000;
        border-color: #000;
        height: 46px;
        color: #fff;
        /* Set text color to white */
      }

      .btn-primary:hover {
        background-color: #000;
        /* No hover effect */
        border-color: #000;
      }

      /* Remove underline from <a> tag */
      a {
        text-decoration: none;
      }

      a {
        text-decoration: none;
        color: #000;
        /* Set link color to black */
      }

      h2 {
        font-weight: bolder;
        font-size: 28px;
      }

      */

    /* Additional style for terms and conditions checkbox */
    .form-check-label {
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <div class="signup-container">
      <div class="text-center">
        <img
          class="pb-2"
          src="/img/logo/logo1.png"
          alt=""
          style="max-width: 160px"
        />
      </div>

      <form id="forgotPasswordForm" class="px-3" action="/forgotPassword" method="post">
        <% if (typeof error !== 'undefined' && error !== null) { %>
        <p style="color: red"><%= error %></p>
              <% } %>

        <small id="emailOrPhone-error" style="color: red; display: none"
          >Please enter Email or Phone</small
        ><br />
        <label for="email">Email or Phone <span class="text-danger">**</span></label>
        <input
          id="emailOrPhone"
          name="emailOrPhone"
          class="form-control my-0 mb-4 py-2"
          type="text"
          placeholder="Enter Email or phone"
        />

        <button
          type="button"
          class="btn btn-primary btn-block"
          onclick="validateAndSendOTP()"
        >
          Generate OTP</button
        ><br />
      </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      function validateAndSendOTP() {
        var emailOrPhone = document.getElementById("emailOrPhone").value.trim();
        var emailOrPhoneError = document.getElementById("emailOrPhone-error");

        // Check if the input field is empty
        if (emailOrPhone === "") {
          emailOrPhoneError.textContent = "Please enter Email or Phone";
          emailOrPhoneError.style.display = "block";
          return;
        } else {
          emailOrPhoneError.style.display = "none";
        }

        var isEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(emailOrPhone);
        var isPhone = /^(\+91)?\d{10}$/.test(emailOrPhone);

        // Check if input matches email or phone number format
        if (!isEmail && !isPhone) {
          emailOrPhoneError.textContent = "Please enter a valid Email or Phone";
          emailOrPhoneError.style.display = "block";
          return;
        } else {
          emailOrPhoneError.style.display = "none";
        }

        // If everything is valid, submit the form
        document.getElementById("forgotPasswordForm").submit();
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
