<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>WatchVista - Signup</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #fff;
      }

      .signup-container {
        max-width: 500px;
        width: 100%;
        padding: 1px;
      }

      .logo {
        max-width: 100px;
        margin-bottom: 20px;
      }

      .form-control {
        border: 2px solid #ced4da;
        border-radius: 5px;
        height: 46px;
      }

      .btn-primary {
        background-color: #000;
        border-color: #000;
        height: 46px;
        color: #fff;
        /* Set text color to white */
      }

      .btn-primary:hover {
        background-color: #000;
        /* No hover effect */
        border-color: #000;
      }

      /* Remove underline from <a> tag */
      a {
        text-decoration: none;
      }

      a {
        text-decoration: none;
        color: #000;
        /* Set link color to black */
      }

      h2 {
        font-weight: bolder;
        font-size: 28px;
      }

      */

    /* Additional style for terms and conditions checkbox */
    .form-check-label {
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <div class="signup-container">
      <div class="text-center">
        <img src="/img/logo/logo1.png" alt="" style="max-width: 160px" />
      </div>
      <form id="signupForm" method="post" class="pt-1 px-3">
        <p id="alreadyExist" class="text-danger p-2"></p>

        <label for="userName">Name <span class="text-danger">**</span></label>
        <small id="name-error" style="color: red; display: none"
          >Invalid Name</small
        >
        <input
          id="userName"
          class="form-control my-0 py-1"
          type="text"
          name="userName"
          placeholder="Enter your name"
        />

        <label for="email-id" class="pt-3"
          >Email Address <span class="text-danger">**</span></label
        >
        <small id="email-error" style="color: red; display: none"
          >Please enter a valid email address.</small
        >
        <input
          id="email-id"
          class="form-control my-0 py-2"
          type="text"
          name="email"
          placeholder="Enter email address..."
        />

        <label for="phone" class="pt-3"
          >Phone <span class="text-danger">**</span></label
        >
        <small id="phone-error" style="color: red; display: none"
          >Please enter a valid phone number. It should be a 10-digit number or start with '+91' followed by 10 digits.</small
        >
        <input
          id="phone"
          class="form-control my-0 py-2"
          type="text"
          name="phoneNumber"
          placeholder="Enter phone number"
        />

        <label for="pass" class="pt-3"
          >Password <span class="text-danger">**</span></label
        >
        <small id="password-error" style="color: red; display: none"
          >Invalid password</small
        >
        <input
          id="pass"
          class="form-control mb-4 py-2"
          type="password"
          name="password"
          placeholder="Enter password..."
        />

        <div class="mt-10"></div>
        <button
          class="btn btn-primary btn-block"
          type="button"
          onclick="validateAndSendOTP()"
        >
          Register now
        </button>
        <div class="or-divide py-1 text-center"><strong>or</strong></div>
      </form>
      <div class="px-3">
        <button class="btn btn-primary btn-block">
          <a href="/login" class="text-decoration-none text-light">Login Now</a>
        </button>
      </div>

      <!-- Bootstrap Modal for OTP Verification -->
      <div
        class="modal fade"
        id="otpModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="otpModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="otpModalLabel">Enter OTP</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <div class="form-group">
                <label for="phoneOtpInput">Phone OTP</label>
                <input
                  type="text"
                  class="form-control"
                  id="phoneOtpInput"
                  placeholder="Enter Phone OTP"
                />
              </div> -->
              <div class="form-group">
                <label for="emailOtpInput">Email OTP</label>
                <input
                  type="text"
                  class="form-control"
                  id="emailOtpInput"
                  placeholder="Enter OTP received on email"
                />
              </div>
              <small id="otp-error" class="text-danger"></small>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" id="verifyOtpBtn" class="btn btn-primary">
                Verify OTPs
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      // VERIFY OTP
      $(document).on("click", "#verifyOtpBtn", function () {
        console.log("Verify OTP button clicked"); // Check if function is being called

        var nameInput = document.getElementById("userName").value;
        var emailInput = document.getElementById("email-id").value;
        var phoneInput = document.getElementById("phone").value;
        var passwordInput = document.getElementById("pass").value;

        var emailOtpInput = document.getElementById("emailOtpInput").value;
        var otpError = document.getElementById("otp-error");

        // Check if OTP fields are not empty
        if (emailOtpInput.trim() === "") {
          otpError.textContent = "Please enter both OTPs";
          otpError.style.display = "block";
          return;
        }

        // Send OTPs to backend for verification
        const formData = {
          userName: nameInput,
          email: emailInput,
          phoneNumber: phoneInput,
          password: passwordInput,
          // phoneOtp: phoneOtpInput,
          emailOtp: emailOtpInput,
        };

        fetch("/verify-otp", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        })
          .then((response) => {
            console.log("hlfkadsjlfk :", response);
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Failed to verify OTPs");
            }
          })
          .then((result) => {
            if (result.success) {
              $("#otpModal").modal("hide");
              // Redirect user to dashboard or any other page
              window.location.href = "/";
            } else {
              // OTPs are invalid
              otpError.textContent = "Invalid OTP. Please try again.";
            }
          })
          .catch((error) => {
            console.error("Error verifying OTPs:", error);
            otpError.textContent = "Invalid OTP. Please try again.";
          });
      });

      function validateAndSendOTP() {
        document.getElementById('alreadyExist').innerHTML = ""

        var nameInput = document.getElementById("userName").value;
        var emailInput = document.getElementById("email-id").value;
        var phoneInput = document.getElementById("phone").value;
        var passwordInput = document.getElementById("pass").value;

        var nameError = document.getElementById("name-error");
        var emailError = document.getElementById("email-error");
        var phoneError = document.getElementById("phone-error");
        var passwordError = document.getElementById("password-error");

        if(nameInput === "" || emailInput === "" || phoneInput === "" || passwordInput === ""){
          document.getElementById('alreadyExist').textContent = "Please fill all the input fields";
          return false;
        }

        var isValidName = /^[a-zA-Z\s]{3,}$/.test(nameInput);
        var isvalidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(emailInput);
        var isvalidPhone = /^(\+91)?\d{10}$/.test(phoneInput);
        var isvalidPassword = passwordInput.length >= 6;

        // Show/hide error messages based on validation
        nameError.style.display = isValidName ? "none" : "block";
        emailError.style.display = isvalidEmail ? "none" : "block";
        phoneError.style.display = isvalidPhone ? "none" : "block";
        passwordError.style.display = isvalidPassword ? "none" : "block";

        // Return if any validation fails
        if (
          !isValidName ||
          !isvalidEmail ||
          !isvalidPhone ||
          !isvalidPassword
        ) {
          console.log("Form validation failed.");
          return;
        }

        // IF VALIDATION IS OK THEN MOVE TO SEND OTP
        const formData = {
          userName: nameInput,
          email: emailInput,
          phoneNumber: phoneInput,
          password: passwordInput,
        };

        // Send data to backend to start OTP verification process
        axios.post("/user/send-otp",formData)
          .then((response) => {

              $("#otpModal").modal("show");
          })
          .catch((error) => {
            console.log(";aishf : ",);
            if(error.response.data.error === "Email already exists."){
              document.getElementById('alreadyExist').innerHTML = "Email already exists."
            }
            if(error.response.data.error === "Phone number already exists."){
              document.getElementById('alreadyExist').innerHTML = "Phone number already exists."
            }
            console.error("Error sending OTP:", error);
          });
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
